apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "headphones.fullname" . }}-config
  labels:
    {{- include "headphones.labels" . | nindent 4 }}
data:
  {{- range $key, $val := .Values.headphones }}
  {{ $key | upper }}: {{ $val | quote }}
  {{- end}}
